* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #E37E91;
}

body {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/bg.png); 
    background-size: cover;
    background-position: center;
    filter: blur(2px); 
    z-index: -1; 
}

.main-container {
    width: 80%;
    max-width: 1000px;
    margin: 50px auto;
    background-color: #FF8DA3;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E37E91;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title-container {
    flex: 1;
    padding: 15px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    background-color: #FFDAF1;
    color: #E37E91;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    text-align: center;
}

.return-btn {
    background-image: url(../images/icon_return.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFDAF1;
    border-radius: 10px;
    border: none;
    width: 49px;
    height: 49px;
    display: flex;
    cursor: pointer; 
    align-items: center;
    justify-content: center;
}

.ref-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #FFDAF1;
    padding: 10px;
    border-radius: 10px;
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
    line-height: 1.8;
}

.reference-box {
    width: 100%; 
    padding: 5px 0; 
    text-align: center; 
}
