* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #E37E91;
}

body {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/bg.png); 
    background-size: cover;
    background-position: center;
    filter: blur(2px); 
    z-index: -1; 
}

.card {
    background-color: #FF8DA3;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    position: relative;
}

.image-section {
    background: url("https://i.pinimg.com/originals/71/47/62/71476294e8d1bfb9ae869acdd28e60b0.gif") no-repeat center;
    background-size: cover;
    height: 150px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.button-section {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.gtkm-btn {
    background-color: #FFDAF1;
    border: none;
    color: #E37E91;
    padding: 10px;
    border-radius: 10px;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    width: 21rem;
    cursor: pointer; 
    text-align: center;
}

.gtkm-btn:hover {
    background-color: #fe5a78;
    color: #FFDAF1;
}

.home-btn {
    position: absolute;
    top: 190px;
    right: 20px;
    background-image: url(../images/icon_home.png);
    background-size: 20px; 
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFDAF1; 
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
    width: 50px; 
    height: 38px; 
}

.gtkm-btns {
    display: flex; 
    justify-content: space-between; 
    gap: 10px; 
}

#aboutMeBtn, #galleryBtn, #educationBtn {
    background-color: #FFDAF1;
    border: none;
    color: #E37E91;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    text-align: center;
    cursor: pointer; 
    flex: 1;
    display: none; 
}

#aboutMeBtn:hover, #galleryBtn:hover, #educationBtn:hover {
    background-color: #fe5a78;
    color: #FFDAF1;
}

.content {
    display: none; 
    margin-top: 20px;
    font-size: 1.2rem;
    color: #E37E91;
    text-align: center;
    height: 0; 
    transition: height 0.3s ease, margin 0.3s ease; 
}

.content.show {
    display: block; 
    height: auto; 
    margin-top: 20px; 
}
